body,
html {
	min-height:100%;
	font-family: 'Kaushan Script', cursive;
	text-align: center;
}


body {
	background: url(coffee.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	text-align:center;
}

a:link, a:visited, a:hover, a:active {
	color: #ffffff;
	text-decoration: none;
}

.top-header
{
	width:100%;
	max-width:960;
	color:#fff;
	text-shadow:1px 1px 0 rgba(0,0,0,.2);
	margin:100px auto;
	text-align:center;
}

#mc_embed_signup{
	margin: 0 auto;
}
